.mainheading{
    text-align: center;
}


.years{
    width: 100%;
    background-color: white;
    height: 30px;
    text-align: center;
}

.maindiv{
    width: 100%;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

.college{
    width: 93%;
    height: 30px;
    float: right;
}

.yearssecondaryschool{
    width: 100%;
    background-color: white;
    height: 30px;
    text-align: center;
}

.paragraphs{
    font-size: 40px;
}



