.paragraphs{
    font-size: 40px;
}

.ebus {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
} 

/*DIV8*/
#absolute {
    position: absolute;
    top: 30%;
    left:55%;
    width: 200px;
    height: 100px;
    z-index: 15;
    margin: -100px 0 0 -150px;
}
 
